In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/Dhairya/Downloads/advertising.csv')

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
LR = LinearRegression()

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
X=df.drop('Sales',axis=1)
Y=df['Sales']
X.shape,Y.shape

((200, 3), (200,))

In [25]:
X=X.values
Y=Y.values

In [26]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3 , random_state = 1)

In [27]:
LR.fit(x_train,y_train)

LinearRegression()

In [28]:
training_score = LR.score(x_train,y_train)
print(training_score)

0.899374584012456

In [29]:
y_predict = LR.predict(x_test)

In [30]:
print(y_predict)

[21.28816103 18.04213212 10.0595901  21.08224067 20.76476044 24.47187353
 16.80643646 15.62885738 10.12479884 18.84601896 15.78389695 10.54297035
 18.92928707 15.52557996 17.8412711  15.24120343 13.74212833 21.0643733
 10.05392699 19.26500889 11.16451173 11.97211832  8.61179009 11.98972141
 12.59914023 16.8447954   9.7170889  21.09489946 18.13942474 19.55008709
 22.08796224 17.78527998 16.53883452 14.77303861 21.39458945 16.95491635
 17.22755002 12.31866943 21.04982199  7.77473926  5.38467516  9.63139004
  6.89549204 19.19507436  7.88125192 15.18766673 13.70978421 21.0232936
 20.5350058  20.48867548 24.86087902 14.96304281  7.33545571 19.35630325
 21.32554066 14.7719757  17.19642519  7.11988693 18.30096543  9.65158222]

In [31]:
testing_score = LR.score(x_test,y_test)
print(testing_score)

0.9071151423684273

In [32]:
y_test.shape

(60,)

In [33]:
y_predict.shape

(60,)

In [34]:
print(y_predict)

[21.28816103 18.04213212 10.0595901  21.08224067 20.76476044 24.47187353
 16.80643646 15.62885738 10.12479884 18.84601896 15.78389695 10.54297035
 18.92928707 15.52557996 17.8412711  15.24120343 13.74212833 21.0643733
 10.05392699 19.26500889 11.16451173 11.97211832  8.61179009 11.98972141
 12.59914023 16.8447954   9.7170889  21.09489946 18.13942474 19.55008709
 22.08796224 17.78527998 16.53883452 14.77303861 21.39458945 16.95491635
 17.22755002 12.31866943 21.04982199  7.77473926  5.38467516  9.63139004
  6.89549204 19.19507436  7.88125192 15.18766673 13.70978421 21.0232936
 20.5350058  20.48867548 24.86087902 14.96304281  7.33545571 19.35630325
 21.32554066 14.7719757  17.19642519  7.11988693 18.30096543  9.65158222]

In [35]:
print(y_test)

[23.8 16.6 11.9 19.8 17.6 25.5 16.9 17.9 10.5 17.1 17.5 11.3 17.4 16.7
 18.4 15.9 12.9 17.8  9.5 18.4 10.7 12.5  8.5 11.5 11.9 19.9 10.1 18.9
 19.6 20.9 23.2 16.9 17.3 16.7 20.2 20.5 16.5 11.  22.3  7.6  5.3 12.
  6.7 19.   5.5 14.6 14.6 21.5 22.6 19.7 25.4 15.2  6.6 21.2 17.4 17.6
 17.2  7.2 18.4  9.6]